<div class="form-group">
    <div class="card-body table-responsive p-0">
        <span class="btn btn-success"><i class="fas fa-plus"></i></span>
        <table class="table   text-nowrap">
            <thead>
            <tr>
                <th >属性</th>
                <th>值</th>
                <th>库存</th>
                <th>价格</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="4" style="text-align: center;vertical-align: middle" >颜色</td>
            </tr>
            <tr>
                <td>红色</td>
                <td>12</td>
                <td>12.00</td>
            </tr>
            <tr>
                <td>白色</td>
                <td>144</td>
                <td>12.00</td>
            </tr>
            <tr>
                <td>蓝色</td>
                <td>13</td>
                <td>133.00</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<hr>